$fa-font-path: "fonts/";
@import "normalize-scss/sass/normalize";
@import "font-awesome/scss/font-awesome";

* {
  box-sizing: border-box;
}

$main-color: #80BBCF;

html {
  height: 100%;
  position: relative;
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
  border: 4px solid $main-color;
  min-height: 100%;
}

a {
  color: #423f37;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $main-color;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 4px 0;
  color: #000;
}

blockquote > p {
  margin: 0;
}

article {
  padding: 32px 0;

  h4 {
    font-size: 24px;
    margin: 16px 0;
  }

  blockquote {
    margin: 8px 0;
    padding: 4px 0 4px 16px;
    border-left: 8px solid $main-color;
  }

  h5 {
    font-size: 16px;
  }

  section + section {
    margin-top: 40px;
  }

  p {
    line-height: 1.5;
    font-size: 18px;
    color: #4D4D4D;
    font-weight: 300;
  }
}

article.content {
  position: relative;
  margin: 0 0 0 30%;
  padding: 50px 24px 0;
  width: 70%;
  overflow: hidden;
  min-height: 500px;
  p {
    font-size: 15px;
  }
}

@media(max-width: 770px),
print {
  article.content {
    position: static;
    margin: 0;
    padding: 0 15px 15px 15px;
    width: 100%;
  }
}

@media(min-width: 1000px) {
  article.content {
    margin-left: 300px;
  }
}

@import "partials/header";
@import "partials/index";
@import "partials/portfolio";
@import "partials/blog";
