<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio - {{ site.name }}</title>

    <meta name="description" content="{{ description }}"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
{{> header}}
<article class="content">
    <section>
        <h4>Portfolio</h4>

        <div id="portfolio-container">
            {{#each portfolio}}
            <figure style="background-color: {{#if portfolioColor}}{{portfolioColor}}{{else}}#c7c7c7{{/if}}">
                {{#if portfolioImage}}
                <img src="/{{portfolioImage}}"/>
                {{/if}}
                <figcaption>
                    <h5>{{portfolioTitle}}</h5>
                    <div class="portfolio-reveal">
                        <p>{{portfolioDescription}}</p>
                    </div>
                </figcaption>

                <a href="/blog/{{ path }}">View more</a>
            </figure>
            {{/each}}
        </div>
    </section>
</article>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>